<!-- Home.mustache -->

<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="UTF-8" />
    <title>Home Page</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />
    <link rel="stylesheet" href="/css/Home.css">
</head>
<body>
    <h1>Project2 Beom, Czech, Hwang</h1>
    <!-- Include MysqlContainer.mustache here -->
    <div id="mysql-container">
        {{> MysqlContainer}}
    </div>
</body>
</html>
