<!-- MysqlContainer.mustache -->

<head>
<link rel="stylesheet" href="/css/MysqlContainer.css">
<script src="/javascript/queryHandlers.js">
</script>
</head>
<div id="button-container">
    <!-- Example buttons -->
    <div class="queries1-4">
    <!-- Inputs for Query 1 to 4 -->
      <button type="button" id = "Query1">Query 1</button>
      <button type="button" id = "Query2">Query 2</button>
      <button type="button" id = "Query3">Query 3</button>
      <button type="button" id = "Query4">Query 4</button>
    </div>
    <div class="query5">
        <!-- Inputs for Query 5 -->
        <input type="text" id="Query5EmployeeName1" placeholder="Query5: name1">
        <input type="text" id="Query5EmployeeName2" placeholder="Query5: name2">
        <button type="button" id="Query5">Submit Query 5</button>
    </div>
    <div class="query6">
        <!-- Inputs for Query 6 -->
        <input type="text" id="Query6EmployeeName1" placeholder="Query 6: name1">
        <input type="text" id="Query6EmployeeName2" placeholder="Query 6: name2">
        <button type="button" id="Query6">Submit Query 6</button>
    </div>
</div>


<div id="sql-container">
    
</div>
<div id="spinner" class="loader"></div>
